<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="containter">
            <h1>Welcome To Yelp Vtuber</h1>
            <p>View our hand-picked vtubers from all over the world!</p>
            <p>
                <a class="btn btn-warning btn-lg" href="/vtuberlist/new" >Add a Vtuber</a>
            </p>
        </div>
        
    </header>
    
    <div class="row">
        <% vtuberlist.forEach(vtuber => { %>    
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
                <div class="card h-100">
                    <img src=<%= vtuber.image %> class="card-img-top" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title"> <%= vtuber.name %> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/vtuberlist/<%= vtuber._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>

